{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block logo %}<a href="{% url 'index' %}">{% endblock %}

{% block i_menu_superior %}
    <li class="icons dropdown d-none d-md-flex">
            <span class="activity active"></span>
            <p><a class="btn mb-1 btn-outline-primary btn-lg" href="{% url 'cadastroUsuario' %}">Cadastre-se</a></p>
    </li>
    <li class="icons dropdown d-none d-md-flex">
        <span class="activity active"></span>
        <p><a class="btn mb-1 btn-outline-success btn-lg" href="{% url 'login' %}">Login</a></p>
    </li>
{% endblock %}

{% block i_menu_lateral %}
     <li>
        <a href="{% url 'quemSomos' %}" aria-expanded="false">
            <i class="icon-badge menu-icon"></i><span class="nav-text">Quem Somos</span>
        </a>
    </li>
    <li>
        <a href="{% url 'contatos' %}">
            <i class="icon-envelope menu-icon"></i><span class="nav-text">Contatos</span>
        </a>
    </li>
{% endblock %}

{% block corpo %}

{% endblock %}