{% extends 'base_usuario.html' %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <h2 class="alert-heading">ATENÇÃO!</h2>
                        <h4 class="alert-heading">Escolha preferencial apenas se você atende algum dos requisitos abaixo:</h4>
                        <hr>
                        <p>- Doador de sangue (Com carteira atualizada)</p>
                        <p>- Gestante</p>
                        <p>- Idoso (Igual ou mais de 65 anos)</p>
                        <p>- Lactante</p>
                        <p>- Deficiente</p>
                        <p>- Com criança de colo</p>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="forma-group card">
                                {{ form|bootstrap }}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a href="{% url 'homeUnidadeSaude' %}" class="btn btn-danger">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Cadastrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}