{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                {{ context.form.tipo|bootstrap }}
                            </div>
                        </div>
                        <div class="forma-group card">
                            <label for="inputDate">Nome</label>
                            <input type="text" class="form-control" value="{{ context.exame.nome }}" id="inputDate" name="nome" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputDate">Data</label>
                                <input type="date" class="form-control" id="inputDate" name="data" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputDate">Hora</label>
                                <input type="text" class="form-control" value="{{ context.exame.hora }}" minlength="4" id="hora" name="hora" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <a href="{% url 'homeUnidadeSaude' %}" class="btn btn-danger col-md-4" style="font-size: medium;">
                                    <span class="nav-text" style="font-size: medium;">Cancelar</span><i class="far fa-times-circle" style="font-size: 20px; margin-left: 15px;"></i>
                                </a>
                                <button type="submit" class="btn btn-success col-md-6" style="font-size: medium;">
                                    Confirmar<i class="fas fa-check" style="font-size: 20px; margin-left: 15px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">

    $('#hora').mask("00:00");

</script>
{% endblock %}