option_settings:
  aws: elbv2: ouvinte: 443:
    SSLCertificateArns: <CertificateARN>
    Protocolo: HTTPS
Recursos:
    AWSEBV2LoadBalancerListener:
      Digite: 'AWS :: ElasticLoadBalancingV2 :: Listener'
      Propriedades:
        LoadBalancerArn: {"Ref": "AWSEBV2LoadBalancer"}
        Ações padrão:
          - RedirectConfig:
              Porta: 443
              Protocolo: HTTPS
              StatusCode: HTTP_301
            Tipo: redirecionar
        Porta: 80
        Protocolo: HTTP