{% extends 'base_usuario.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}
    <div class="container-fluid">
        <div class="container h-100">
            <div class="card login-form mb-0">
                <div class="card-body pt-12">
                    <form method="POST" id="step-form-horizontal" class="form-group" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <h4>Seus Dados</h4>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <div class="custom-file form-group">
                                        {{context.form.imagem|bootstrap}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="firstname" class="form-control" value="{{ context.usuario.user.first_name }}" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="lastname" class="form-control" value="{{ context.usuario.user.last_name }}" placeholder="Sobrenome" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{context.form.sexo|bootstrap}}
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-2">
                                <div class="form-group">
                                    <input type="text" id="cep" name="cep" maxlength="9" value="{{ context.usuario.cep }}" class="form-control" placeholder="CEP" required>
                                    <p>Dica: Apenas números</p>
                                    <div style="display: none;" id="alert-4">
                                        <p style="color: red;">*cep inválido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="logradouro" name="logradouro" value="{{ context.usuario.logradouro }}" class="form-control" placeholder="Logradouro: Rua, Avenida, Travessa..." required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" name="numero" class="form-control" value="{{ context.usuario.numero }}" placeholder="Número" required>
                                        <p>Dica: Caso não possua número, coloque 0.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="bairro" name="bairro" value="{{ context.usuario.bairro }}" class="form-control" placeholder="Bairro" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="complemento" name="complemento" value="{{ context.usuario.complemento }}" class="form-control" placeholder="Complemento">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="cidade" name="cidade" value="{{ context.usuario.cidade }}" class="form-control" placeholder="Cidade" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="estado" name="estado" value="{{ context.usuario.estado }}" class="form-control" placeholder="Estado" required>
                                    </div>
                                </div>
                            </div>
                            <h4>Informações</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="telefone" name="telefone" value="{{ context.usuario.telefone }}" class="form-control" placeholder="Celular" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="cpf" type="text" name="cpf" value="{{ context.usuario.cpf }}" placeholder="CPF" required>
                                        <div style="display: none;" id="alert-2">
                                            <p style="color: red;">*cpf já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="sus" type="text" value="{{ context.usuario.sus }}" name="sus" placeholder="SUS" required>
                                        <div style="display: none;" id="alert-3">
                                            <p style="color: red;">*sus já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="rg" type="text" name="rg" value="{{ context.usuario.rg }}" placeholder="RG" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a href="{% url 'perfilUsuario' %}" class="btn btn-danger col-md-4">Cancelar</a>
                                    <button type="submit" id="btn" class="btn btn-success col-md-6">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(async function(){

        $('#cpf').mask("000.000.000-00");

        $('#telefone').mask("(00) 00000-0000");

        $('#cep').mask("00000-000");

        $('#cpf').on('change', async function(){
            cpf = $(this).val();
            
            let apiCall = await fetch('https://treinamentominhavez.com.br/api/usuario/?search='+cpf);
            const user = await apiCall.json();

            if(user[0] != null) {
                document.getElementById('alert-2').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert-2').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#sus').on('change', async function(){
            sus = $(this).val();

            let apiCall = await fetch('https://treinamentominhavez.com.br/api/usuario/?search='+sus);
            const user = await apiCall.json();

            if(user[0] != null) {
                document.getElementById('alert-3').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert-3').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#cep').on('change', async function(){
            cep = $(this).val();
            
            let apiCall = await fetch('https://viacep.com.br/ws/'+cep+'/json/');
            const endereco = await apiCall.json();

            if(endereco.logradouro != undefined){

                if(endereco.logradouro != "") {
                    document.getElementById('logradouro').value = endereco.logradouro;
                    $('#logradouro').prop("readonly", true);
                }
                
                if(endereco.complemento != ""){
                    document.getElementById('complemento').value = endereco.complemento;
                    $('#complemento').prop("readonly", true);
                }
                
                if(endereco.bairro != ""){
                    document.getElementById('bairro').value = endereco.bairro;
                    $('#bairro').prop("readonly", true);
                }

                if(endereco.localidade != ""){
                    document.getElementById('cidade').value = endereco.localidade;
                    $("#cidade").prop("readonly", true);
                }

                if(endereco.uf != ""){
                    document.getElementById('estado').value = endereco.uf;
                    $('#estado').prop("readonly", true);
                }

                document.getElementById('alert-4').style.display = "none";
                document.getElementById("btn").disabled = false;

            } else {
                document.getElementById('alert-4').style.display = "block";
                document.getElementById("btn").disabled = true;
            }
        });

    });
</script>
{% endblock %}