{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block logo %}<a href="{% url 'index' %}">{% endblock %}

{% block i_menu_superior %}
    <li class="icons dropdown d-none d-md-flex">
        <span class="activity active"></span>
        <p><a class="btn mb-1 btn-outline-primary btn-lg" href="{% url 'cadastroUsuario' %}">Cadastre-se</a></p>
    </li>
    <li class="icons dropdown d-none d-md-flex">
        <span class="activity active"></span>
        <p><a class="btn mb-1 btn-outline-success btn-lg" href="{% url 'login' %}">Login</a></p>
    </li>
{% endblock %}

{% block i_menu_lateral %}
     <li>
        <a href="{% url 'quemSomos' %}" aria-expanded="false">
            <i class="icon-badge menu-icon"></i><span class="nav-text">Quem Somos</span>
        </a>
    </li>
    <li>
        <a href="{% url 'contatos' %}">
            <i class="icon-envelope menu-icon"></i><span class="nav-text">Contatos</span>
        </a>
    </li>
{% endblock %}

{% block corpo %}
<div class="container-fluid">
    <input type="hidden" id="msg" value="{{ context.msg }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <h4>Seus Dados</h4>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <div class="custom-file form-group">
                                        {{context.form.imagem|bootstrap}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="firstname" class="form-control" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="lastname" class="form-control" placeholder="Sobrenome" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{context.form.sexo|bootstrap}}
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-2">
                                <div class="form-group">
                                    <input type="text" id="cep" name="cep" minlength="8" maxlength="9" class="form-control" placeholder="CEP" required>
                                    <p>Dica: Apenas números</p>
                                    <div style="display: none;" id="alert-4">
                                        <p style="color: red;">*cep inválido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="logradouro" name="logradouro" class="form-control" placeholder="Logradouro: Rua, Avenida, Travessa..." required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" name="numero" class="form-control" placeholder="Número" required>
                                        <p>Dica: Caso não possua número, coloque 0.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Bairro" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Cidade" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="estado" name="estado" class="form-control" placeholder="Estado" required>
                                    </div>
                                </div>
                            </div>
                            <h4>Informações</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="telefone" name="telefone" class="form-control" placeholder="Celular" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="cpf" type="text" name="cpf" placeholder="CPF" required>
                                        <div style="display: none;" id="alert-2">
                                            <p style="color: red;">*cpf já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="sus" type="text" name="sus" placeholder="SUS" required>
                                        <div style="display: none;" id="alert-3">
                                            <p style="color: red;">*sus já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control" id="rg" type="text" name="rg" placeholder="RG" required>
                                    </div>
                                </div>
                            </div>
                            <h4>Detalhes da Conta</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
                                        <div style="display: none;" id="alert-1">
                                            <p style="color: red;">*username já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="password" id="password" minlength="8" name="password" class="form-control" placeholder="Senha" required>
                                        <p>Dica: de 8 a 150 caracteres. Letras, números e @/./+/-/_ apenas.</p>
                                        <div style="display: none;" id="alert">
                                            <p style="color: red;">*senhas não conferem, apague os campos e preencha novamente.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirme a Senha" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a href="{% url 'index' %}" class="btn btn-danger col-md-4">Cancelar</a>
                                    <button type="submit" id="btn" class="btn btn-success col-md-6">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- MODAL -->
                    <div class="modal fade" id="modalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title" id="exampleModalLabel" style="font-size: 30px; color: black;">
                                        ATENÇÃO<i class="fas fa-exclamation-triangle" style="font-size: 30px; color: red; padding-left: 20px;"></i>
                                    </p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="align-items: center;">
                                    <p style="font-size: medium; color: black;">{{ context.msg }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIM MODAL -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(async function(){
        var password;
        var aux_password;

        if(msg.value){
            $('#modalMsg').modal('show');
        }; 
        
        $('#password').on('change', function(){
            password = $(this).val();
        });

        $('#cpf').mask("000.000.000-00");

        $('#telefone').mask("(00) 00000-0000");

        $('#cep').mask("00000-000");

        $('#confirmPassword').on('change', function(){
            aux_password  = $(this).val();

            if(password != aux_password){
                document.getElementById('alert').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#username').on('change', async function(){
            username = $(this).val();

            let apiCall = await fetch('https://treinamentominhavez.com.br/api/user/?search='+username);
            const user = await apiCall.json();

            if(user[0] != null) {
                document.getElementById('alert-1').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert-1').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#cpf').on('change', async function(){
            cpf = $(this).val();
            
            let apiCall = await fetch('https://treinamentominhavez.com.br/api/usuario/?search='+cpf);
            const user = await apiCall.json();

            if(user[0] != null) {
                document.getElementById('alert-2').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert-2').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#sus').on('change', async function(){
            sus = $(this).val();

            let apiCall = await fetch('https://treinamentominhavez.com.br/api/usuario/?search='+sus);
            const user = await apiCall.json();

            if(user[0] != null) {
                document.getElementById('alert-3').style.display = "block";
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById('alert-3').style.display = "none";
                document.getElementById("btn").disabled = false;
            }
        });

        $('#cep').on('change', async function(){
            cep = $(this).val();
            
            let apiCall = await fetch('https://viacep.com.br/ws/'+cep+'/json/');
            const endereco = await apiCall.json();
            
            if(endereco.logradouro != undefined){

                if(endereco.logradouro != "") {
                    document.getElementById('logradouro').value = endereco.logradouro;
                    $('#logradouro').prop("readonly", true);
                }
                
                if(endereco.complemento != ""){
                    document.getElementById('complemento').value = endereco.complemento;
                    $('#complemento').prop("readonly", true);
                }
                
                if(endereco.bairro != ""){
                    document.getElementById('bairro').value = endereco.bairro;
                    $('#bairro').prop("readonly", true);
                }

                if(endereco.localidade != ""){
                    document.getElementById('cidade').value = endereco.localidade;
                    $("#cidade").prop("readonly", true);
                }

                if(endereco.uf != ""){
                    document.getElementById('estado').value = endereco.uf;
                    $('#estado').prop("readonly", true);
                }

                document.getElementById('alert-4').style.display = "none";
                document.getElementById("btn").disabled = false;

            } else {
                document.getElementById('alert-4').style.display = "block";
                document.getElementById("btn").disabled = true;
            }
        });

    });
</script>
{% endblock %}