{% extends 'base_usuario.html' %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {% if context.msg_busca %}
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">{{ context.msg_busca}}</h4>
                                <hr>
                                <p>Realize busca válida!</p>
                            </div>
                        {% endif %}
                        <div id=pesquisa class="alert alert-info" role="alert">
                            <form class="form-inline" id="pai">
                                <div class="form-group mx-sm-3 mb-2" id="pesquisa">
                                    <input type="text" class="form-control" name="nome" placeholder="Digite sua pesquisa aqui...">
                                </div>
                                <button type="submit" class="btn btn-dark col-md-2" style="font-size: medium;">
                                    Pesquisar<i class="fas fa-search" style="font-size: 20px; margin-left: 15px;"></i>
                                </button>
                            </form>
                        </div>
                        <div class="card-title alert alert-info mt-5" role="alert">
                            <div class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <h1 style="font-size: xx-large;">Lista das Unidades de Saúde</h1>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for unidade in context.unidades %}
                                            <td>{{unidade.razao_social}}</td>
                                            <td>
                                                <a href="{% url 'detalhesUnidadeSaude' unidade.id %}" 
                                                    class="btn btn-primary" style="font-size: medium;">
                                                    Detalhes<i class="fas fa-info" style="margin-left: 10px; font-size: 15px;"></i>
                                                </a>
                                            </td>
                                </tbody>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}