{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}
    <div class="container-fluid">
    <input type="hidden" id="msg" value="{{ msg }}">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
                                        <div style="display: none;" id="alert-1">
                                            <p style="color: red;">*username já em uso, escolha outro.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="E-mail" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="firstname" class="form-control" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="lastname" class="form-control" placeholder="Sobrenome" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="password" id="password" minlength="8" name="password" class="form-control" placeholder="Senha" required>
                                        <p>Dica: de 8 a 150 caracteres. Letras, números e @/./+/-/_ apenas.</p>
                                        <div style="display: none;" id="alert">
                                            <p style="color: red;">*senhas não conferem, apague os campos e preencha novamente.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" minlength="8" class="form-control" placeholder="Confirme a Senha" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a href="{% url 'listaUsuariosUnidade' %}" class="btn btn-danger col-md-4" style="font-size: medium;">
                                       <span class="nav-text" style="font-size: medium;">Cancelar</span><i class="far fa-times-circle" style="font-size: 20px; margin-left: 15px;"></i>
                                    </a>
                                    <button type="submit" id="btn" class="btn btn-success col-md-6" style="font-size: medium;">
                                        Cadastrar<i class="fas fa-check" style="font-size: 20px; margin-left: 15px;"></i>
                                    </button> 
                                </div>
                            </div>
                        </form>
                        <!-- MODAL -->
                        <div class="modal fade" id="modalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title" id="exampleModalLabel" style="font-size: 30px; color: black;">
                                            ATENÇÃO<i class="fas fa-exclamation-triangle" style="font-size: 30px; color: red; padding-left: 20px;"></i>
                                        </p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="align-items: center;">
                                        <p style="font-size: medium; color: black;">{{ msg }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIM MODAL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(async function(){
            var password;
            var aux_password;

            if(msg.value){
                $('#modalMsg').modal('show');
            };  
            
            $('#password').on('change', function(){
                password = $(this).val();
            });

            $('#confirmPassword').on('change', function(){
                aux_password  = $(this).val();

                if(password != aux_password){
                    document.getElementById('alert').style.display = "block";
                    document.getElementById("btn").disabled = true;
                } else {
                    document.getElementById('alert').style.display = "none";
                    document.getElementById("btn").disabled = false;
                }
            });

            $('#username').on('change', async function(){
                username = $(this).val();

                let apiCall = await fetch('https://treinamentominhavez.com.br/api/user/?search='+username);
                const user = await apiCall.json();

                if(user[0] != null) {
                    document.getElementById('alert-1').style.display = "block";
                    document.getElementById("btn").disabled = true;
                } else {
                    document.getElementById('alert-1').style.display = "none";
                    document.getElementById("btn").disabled = false;
                }
            });
        });
    </script>
{% endblock %}