{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <title>MinhaVez</title>
    </head> 
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col text-center">
                                <img class="img-fluid" src="{% static 'midias_minhavez/logo.png' %}" style="width: 350px; height: 100px;">
                            </div>
                            <div class="card-title">
                                <h4>Detalhes da Fila</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Vagas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>{{context.fila.nome}}</td>
                                        <td>{{context.fila.vagas}}</td>
                                    </tbody>
                                </table>
                            </div>
                            {% if context.consulta %}
                                <div class="card-title">
                                    <h4>Informações da consulta</h4>
                                </div>
                            {% else %}
                                <div class="card-title">
                                    <h4>Informações da autorizacao</h4>
                                </div>
                            {% endif %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if context.consulta %}
                                            <td>{{context.consulta.nome}}</td>
                                            <td>{{context.consulta.data}}</td>
                                        {% else %}
                                            <td>{{context.autorizacao.nome}}</td>
                                            <td>{{context.autorizacao.data}}</td>
                                            <td><a href="{% url 'detalhesAutorizacao' context.autorizacao.id %}" class="btn btn-primary">Detalhes</a></td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if context.fichas.all %}
                                <div class="card-title">
                                    <h4>Úsuarios para serem atendidos</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Número da Fichas</th>
                                                <th>Status da Ficha</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ficha in context.fichas.all %}
                                                <td>{{ficha.usuario.user.first_name}}</td>
                                                <td>{{ficha.numero}}</td>
                                                {% if ficha.status == 'ATENDIDA' %}
                                                    <td class="alert alert-success">{{ficha.status}}</td>
                                                {% elif ficha.status == 'AGUARDANDO' %}
                                                    <td class="alert alert-primary">{{ficha.status}}</td>
                                                {% else %}
                                                    <td class="alert alert-danger">{{ficha.status}}</td>
                                                {% endif %}
                                        </tbody>
                                            {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>