{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MinhaVez</title>
    <!-- Favicon icon -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="../../static/quixlab-master/css/style.css" rel="stylesheet">
    
</head>

<body class="h-100">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    


    
    <div class="login-form-bg h-100" style="background-color: rgb(144, 193, 241);">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <div class="container p-5">
                                    <h2 class="font-weight-bold mt-3">Redefinição de senha enviada</h2>
                                      <hr>
                                      <p>
                                        Enviamos por e-mail instruções para definir sua senha.<br>
                                        Se você não receber um e-mail, certifique-se de que cadastrou corretamente o e-mail e verifique sua pasta de spam.<br>
                                        Se mesmo assim não conseguiu recuperar a sua senha, contate o suporte pelo e-mail: minhavezsistema@gmail.com.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../../static/quixlab-master/plugins/common/common.min.js"></script>
    <script src="../../static/quixlab-master/js/custom.min.js"></script>
    <script src="../../static/quixlab-master/js/settings.js"></script>
    <script src="../../static/quixlab-master/js/gleek.js"></script>
    <script src="../../static/quixlab-master/js/styleSwitcher.js"></script>
</body>
</html>





