{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} MinhaVez {% endblock %}

{% block corpo %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="forma-group card">
                            <label for="inputDate">Nome</label>
                            <input type="text" class="form-control" id="inputDate" name="nome">
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputDate">Vagas</label>
                                    <input type="number" class="form-control" id="inputDate" name="vagas">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <a href="{% url 'homeUnidadeSaude' %}" 
                                        class="btn btn-danger col-md-4">Cancelar</a>
                                    <button type="submit" class="btn btn-success col-md-6">Cadastrar</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}