{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <title>MinhaVez</title>
    </head> 
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="col text-center">
                                <img class="img-fluid" src="{% static 'midias_minhavez/logo.png' %}" style="width: 350px; height: 100px;">
                            </div>
                            <div class="card-title">
                                <h4>Detalhes do Agendamento: {{ context.agendamento.nome }}</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            {% if context.agendamento.autorizacao.responsavel %}
                                                <th>Responsavel</th>
                                                <th>Vagas restantes</th>
                                            {% else %}
                                                <th>Especialista</th>
                                                <th>Vagas restantes</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if context.autorizacao.responsavel %}
                                            <td>{{context.autorizacao.responsavel.nome}}
                                                {{context.autorizacao.responsavel.sobrenome}}</td>
                                            <td>{{context.agendamento.vagas}}</td>
                                        {% else %}
                                            <td>Dr(a). {{context.consulta.especialista.nome}}
                                                {{context.consulta.especialista.sobrenome}}</td>
                                            <td>{{context.agendamento.vagas}}</td>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if context.usuarios.all %}
                                <div class="card-title">
                                    <h4>Úsuarios para serem atendidos</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Sobrenome</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for usuario in context.usuarios.all %}
                                                <td>{{usuario.user.first_name}}</td>
                                                <td>{{usuario.user.last_name}}</td>
                                        </tbody>
                                            {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>